* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  margin-left: 450px;
  margin-right: 450px;
}

#container {
  min-width: 800px;
  min-height: 550px;
  width: 800px;
  height: 550px;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#display {
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 760px;
  height: 32px;
  padding: 32px;
  margin: 32px;
  font-size: 48px;
  background-color: lightgray;
}

.button_layout {
  display: flex;
  flex-direction: row;
}

button {
  background-color: gray;
  border: none;
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  font-size: 32px;
  font-weight: bold;
  margin: 5px;
}
