#container {
  margin-left: 256px;
  margin-right: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#display {
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 760px;
  height: 32px;
  padding: 32px;
  margin: 32px;
  background-color: lightgray;
}

.button_layout {
  display: flex;
  flex-direction: row;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 48px 64px;
  border-radius: 10px;
  margin: 10px;
  width: 150px;
  height: 75px;
}
